<div class="search-medecin-dialog">
    <div class="title">Trouver un médecin</div>
    <div class="input-container">
        <input type="text">
    </div>
    <div class="medecins-block">
        <div class="tabs">
            <ng-container *ngIf="specialities?.length">
                <div class="speciality-tab text-main-blue" [ngClass]="{'selected': currentTabIndex === i}"
                (click)="goTab(i)" *ngFor="let speciality of specialities, let i = index">{{speciality.nom}}</div>
            </ng-container>
        </div>
        <div class="list">
            <swiper *ngIf="specialities?.length" class="swiper-container" [config]="swiperConfig" #swiper (indexChange)="onIndexChanged($event)">
                <div class="swiper-slide slide-content" *ngFor="let item of specialities">
                    <div class="medecin-item" *ngFor="let doctor of filteredDoctors" (click)="chooseMedecin(doctor)">
                        <img [src]="doctor.user.image" alt="">
                        <div class="inf-block">
                            <div class="name">{{doctor.user.prenom + ' ' +doctor.user.nom}}</div>
                            <div class="specialite">{{doctor.user?.specialite?.nom}}</div>
                            <div class="lieu">{{doctor.structuresanitaire.nom}}</div>
                        </div>
                    </div>
                    <ng-container *ngIf="!filteredDoctors?.length">
                        <span class="no-medecin">Pas de médecin trouvé pour cette spécialité</span>
                    </ng-container>
                </div>
            </swiper>
        </div>
    </div>
</div>