@import "src/styles-variables.scss";

.reset-pwd-container {
    background-color: #47afff;
    height: 100%;
    padding-top: 80px;
    .title {
        font-size: 20px;
        color: white;
        display: block;
        text-align: center;
    }
    .form {
        width: 50%;
        min-height: 45%;
        margin: auto;
        margin-top: 50px;
        background-color: white;
        padding: 20px;
        border-radius: 6px;
        .input {
            margin-bottom: 20px;
            mat-form-field {
                width: 100%;
            }
        }
        .error {
            color: red;
            font-size: 13px;
        }
        .btns {
            margin-top: 30px;
            .confirm {
                margin-right: 10px;
            }
        }
        .redirect {
            display: block;
            text-align: center;
            margin-top: 15px;
            font-size: 14px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}