<div class="profile-page">
  <div class="page-title">
    <mat-icon class="back-ico" (click)="goBack()">arrow_back</mat-icon>
    <span class="back-text">Page Accueil</span>
  </div>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef> Patient </th>
        <td class="font-s-13" mat-cell *matCellDef="let element"> {{element?.user?.prenom}} {{element?.user?.nom}} </td>
      </ng-container>

      <!-- Numero Column -->
      <ng-container matColumnDef="numero_patient">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td class="font-s-13" mat-cell *matCellDef="let element"> {{element?.user?.numero}} </td>
      </ng-container>

      <!-- Docteur Column -->
      <ng-container matColumnDef="docteur">
        <th mat-header-cell *matHeaderCellDef> Médecin </th>
        <td class="font-s-13" mat-cell *matCellDef="let element"> {{element?.medecin?.user?.prenom}}
          {{element?.medecin?.user?.nom}}</td>
      </ng-container>

      <!-- Structure Sanitaire Column -->
      <ng-container matColumnDef="structure_sanitaire">
        <th mat-header-cell *matHeaderCellDef> Structure Sanitaire </th>
        <td class="font-s-13" mat-cell *matCellDef="let element"> {{element?.medecin?.structuresanitaire?.nom}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date_rv">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td class="font-s-13" mat-cell *matCellDef="let element"> {{element?.datePatient | date: 'dd-MM-yyyy à HH:mm'}}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="statut_rv">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td class="font-s-13" mat-cell *matCellDef="let element">
          <span *ngIf="element.status == 'CANCELED'">Annulé</span>
          <span *ngIf="element.status == 'CONFIRMED'">Confirmé</span>
          <span *ngIf="element.status == 'PENDING'">En Attente</span>
        </td>
      </ng-container>
      <!--
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container>
                      <span (click)="editLinkedUser(element, i)" class="c-pointer underline">
                          <mat-icon>edit</mat-icon>
                      </span>
                  </ng-container>
                  <ng-container>
                      <span (click)="deleteLinkedUser(element, i)" class="c-pointer underline">
                          <mat-icon>delete</mat-icon>
                      </span>
                  </ng-container>
              </td>
          </ng-container>
          -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>