@import "src/styles-variables.scss";

.welcome-page {
  width: 100%;
  background-color: #f5f4f6;
  &-header {
    height: 70px;
    background-color: #47afff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    .pamo-title {
      color: white;
      height: 50px;
      display: flex;
      font-weight: bolder;
      font-size: 38px;
      align-items: center;
      font-family: "Lobster";
      margin-left: 20px;
    }
    .right-block {
      display: flex;
      align-items: center;
      .profil {
        background-color: white;
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: bolder;
        color: #47afff;
        border-radius: 10px;
        margin-right: 20px;
        cursor: pointer;
      }
      .sign-in-up {
        display: flex;
        margin-right: 20px;
        align-items: center;
        cursor: pointer;
        .icone {
          margin-right: 8px;
          color: white;
        }
        .action {
          display: flex;
          flex-direction: column;
          .title {
            font-weight: bolder;
            font-size: 14px;
            color: white;
          }
          .sub-title {
            font-size: 12px;
            color: white;
          }
        }
      }
    }
  }
  @media screen and (max-width: 480px) {
    .welcome-page-header {
      .profil {
        display: none !important;
      }
      .sign-in-up-1 {
        display: none !important;
      }
      .sign-in-up-2 {
        .sub-title {
          display: none !important;
        }
      }
    }
  }
  @media screen and (min-width: 480px) and (max-width: 739px) {
    .welcome-page-header {
      .profil {
        display: none !important;
      }
    }
  }
  .header-sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: white;
    .pamo-title {
      color: #47afff;
    }
    .profil {
      background-color: #47afff;
      color: white;
    }
    .sign-in-up {
      .icone {
        color: #47afff;
      }
      .action {
        .title,
        .sub-title {
          color: #47afff !important;
        }
      }
    }
  }
  &-body {
    .welcome-banniere {
      width: 100%;
      height: 500px;
      background-color: #47afff;
      position: relative;
      padding-top: 100px;
      .banniere-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/images/welcome-background.png");
        background-size: 60% 70%;
        background-repeat: no-repeat;
        background-position: bottom right;
      }
      .register-block {
        display: none;
        width: 100%;
        padding: 20px 10%;
        color: white;
        font-size: 18px;
      }
      .form-container {
        width: 42%;
        margin: 30px 0 0 30px;
        border-radius: 10px;
        background-color: white;
        padding: 30px 2%;
        .form-title {
          color: #1735a0;
          margin-bottom: 20px;
          font-size: 24px;
          font-family: NotoSansKR-Bold;
        }
        .search-agency-form {
          mat-form-field {
            width: 80%;
          }
          .button-container {
            width: 100%;
            button {
              height: 40px;
              border-radius: 10px;
              background-color: #ffb41f;
              padding: 0 25px;
              font-weight: bold;
              font-size: 14px;
              color: white;
              border: none;
            }
          }
        }
      }
    }
    .appointment-steps-block {
      display: flex;
      justify-content: space-around;
      padding: 70px 0 50px;
      .step {
        width: 20%;
        text-align: center;
        .act-icon {
          font-size: 70px;
          width: 70px;
          height: 70px;
          color: #707070;
        }
        .how-to-do {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .step-num {
            border-radius: 50%;
            color: white;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            &-1 {
              background-color: #8299ed;
            }
            &-2 {
              background-color: #4c6ee6;
            }
            &-3 {
              background-color: #1735a1;
            }
          }
          .action {
            font-family: "NotoSansKR-Bold";
            font-size: 22px;
            margin-bottom: 10px;
          }
          .desc {
            font-family: "NotoSansKR-Light";
            font-size: 18px;
          }
        }
      }
    }
    .news-slider {
      padding: 70px 0;
      position: relative;
      .tranparent-side-effect {
        width: 20%;
        height: 100%;
        z-index: 10;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        mat-icon {
          font-size: 150px;
          width: 150px;
          height: 150px;
          color: white;
        }
        &-left {
          left: 0;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.8),
            50%,
            rgba(255, 255, 255, 0)
          );
          justify-content: flex-start;
        }
        &-right {
          right: 0;
          background: linear-gradient(
            to left,
            rgba(255, 255, 255, 0.8),
            50%,
            rgba(255, 255, 255, 0)
          );
          justify-content: flex-end;
        }
      }
      .swiper-slide {
        margin-right: 0px !important;
        padding: 0 10px;
      }
      app-news-card-item {
        cursor: pointer;
      }
    }
    .footer {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .copyright {
        font-family: "NotoSansKR-Light";
        font-size: 10px;
        display: flex;
        align-items: center;
      }
      .social-networks {
        display: flex;
        align-items: center;
        .follow-us {
        }
        .social-network-block {
          display: flex;
          img {
            width: 21px;
            height: 21px;
            margin-left: 12px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .welcome-page-body {
      .welcome-banniere {
        height: auto;
        padding: 20px 0 70px;
        .banniere-container {
          display: none;
        }
        .register-block {
          display: block;
        }
        .form-container {
          width: 80% !important;
          margin: 0 auto !important;
          padding: 30px 8% !important;
          .form-title {
            font-size: 18px !important;
          }
          .search-agency-form {
            mat-form-field {
              width: 100% !important;
            }
            button {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      .footer {
        .follow-us {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 480px) and (max-width: 739px) {
    .welcome-page-body {
      .welcome-banniere {
        .form-container {
          min-width: 320px !important;
          position: absolute !important;
          padding: 30px 3% !important;
          mat-form-field {
            width: 100% !important;
          }
          button {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }

  // media query to reduce appointment block size
  @media screen and (max-width: 739px) {
    .appointment-steps-block {
      .step {
        width: 30%;
        .act-icon {
          font-size: 45px;
          width: 45px;
          height: 45px;
        }
        .how-to-do {
          .step-num {
            width: 30px;
            height: 30px;
            margin: 5px 0 !important;
          }
          .action {
            font-size: 12px;
          }
          .desc {
            font-size: 11px;
          }
        }
      }
    }
  }

  // media query to hide slider arrows
  @media screen and (max-width: 650px) {
    .news-slider {
      .tranparent-side-effect {
        display: none;
      }
    }
  }
}
