@import "src/styles-variables.scss";

:host {
  width: 100%;
  height: 100%;
  padding: 25px;
}

.appointment-confirmation-page {
  background-color: $white;
  border-radius: 25px;
  height: 100%;
  padding: 15px;
  .title {
    font-size: 20px;
  }
  .body-block {
    margin-top: 30px;
    height: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    .calendar-container {
      width: 80%;
      height: 100%;
      full-calendar {
        height: 100%;
      }
    }
    .legends-block {
      width: 18%;
      padding-top: 76px;
      .legend {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .color {
          width: 45px;
          height: 25px;
          border-radius: 4px;
          flex-shrink: 0;
          margin-right: 5px;
        }
        .legend-name {
          font-family: "NotoSansKR-Light";
          font-size: 12px;
        }
      }
    }
  }
}
