<div class="card-item">
    <div class="img-container">
        <img src="assets/images/image-slide.jpg" alt="">
    </div>
    <div class="article-body">
        <div class="article-title">Actualités Covid: Comment évolue la situation</div>
        <div class="article-content">
            Réservez en ligne un test PCR rapidement et proche de chez vous.Ce test est pris en charge à 100% par
            l’Assurance Maladie et ne requiert pas d'ordonnance. Les résultats sont généralement accessibles sous 48
            heures.
        </div>
    </div>
</div>