<div class="confirm-rdv-modal">
    <!-- <div class="title">{{'Rendez-vous le '}} {{data?.appointment?.datePatient | date : 'EEEE dd MMMM yyyy à HH:mm'}}</div> -->
    <div class="title">Détails du rendez-vous</div>
    <div class="card-container">
        <app-appointment-infos-card [appointment]="data?.appointment" [isPatient]="data.isPatient"></app-appointment-infos-card>
    </div>
    <div class="btn-container">
        <button class="btn btn-confirm text-white" (click)="confirm()"
            *ngIf="data?.appointment?.status === APPOITMENT_STATUS.POSTPONED && data.isPatient || 
                    data?.appointment?.status === APPOITMENT_STATUS.PENDING && !data.isPatient"
            [disabled]="data?.appointment?.status === APPOITMENT_STATUS.CONFIRMED || confirming || rejecting">
            Confirmer
            <mat-spinner *ngIf="confirming" [diameter]="20" mode="indeterminate"></mat-spinner>
        </button>
        <button class="btn btn-postpone text-white" (click)="postponeAppointment()"
        *ngIf="data?.appointment?.status === APPOITMENT_STATUS.POSTPONED ||
                data?.appointment?.status === APPOITMENT_STATUS.PENDING"
            [disabled]="confirming || rejecting">
            Caler autre date
        </button>
        <!-- <button class="btn btn-cancel text-white" (click)="reject()"
            [disabled]="data?.appointment?.status === APPOITMENT_STATUS.CONFIRMED || confirming || rejecting">
            Annuler
            <mat-spinner *ngIf="rejecting" [diameter]="20" mode="indeterminate"></mat-spinner>
        </button> -->
    </div>
</div>