<div class="dashboard-page">
    <div class="fast-actions-block">
        <div class="card-container">
            <div class="fast-action-card danger text-white"></div>
        </div>
        <div class="card-container">
            <div class="fast-action-card blue text-white"></div>
        </div>
        <div class="card-container">
            <div class="fast-action-card green text-white"></div>
        </div>
        <div class="card-container">
            <div class="fast-action-card yellow text-white"></div>
        </div>
    </div>
</div>