
:host {
    width: 100%;
    overflow-y: auto;
}
.list-pharmacie{
    padding: 20px;
    .title {
        display: block;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .subtitle  {
        font-size: 15px;
        color: gray;
        margin-bottom: 20px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-container {
        height: 100%;
    }
    .available {
        display: flex;
        overflow-x: auto;
    }
}