<div class="medecin-dashboard-home">
    <div class="key-indicators">
        <div class="indicator-card">
            <div class="card-title text-main-blue">Rendez-vous aujourd'hui</div>
            <div class="card-content">
                <div class="card-left">
                    <div class="icon-container">
                        <mat-icon [ngStyle]="{'color':'#47afff'}">event_available</mat-icon>
                    </div>
                </div>
                <div class="card-right">
                    <span class="cardinal text-main-blue">18</span>
                    <span class="description">
                        <span>56%</span> effectué
                    </span>
                </div>
            </div>
        </div>
        <div class="indicator-card">
            <div class="card-title text-main-blue">En attente de validation</div>
            <div class="card-content">
                <div class="card-left">
                    <div class="icon-container">
                        <mat-icon [ngStyle]="{'color':'#47afff'}">event_available</mat-icon>
                    </div>
                </div>
                <div class="card-right">
                    <span class="cardinal text-red">25</span>
                    <span class="description">
                        <span>10</span> validé
                    </span>
                </div>
            </div>
        </div>
        <div class="indicator-card">
            <div class="card-title text-main-blue">Consultation en ligne</div>
            <div class="card-content">
                <div class="card-left">
                    <div class="icon-container">
                        <mat-icon [ngStyle]="{'color':'#47afff'}">event_available</mat-icon>
                    </div>
                </div>
                <div class="card-right"></div>
            </div>
        </div>
    </div>
</div>