$main-blue: #47afff;
$white: #ffffff;
$gray-background: #f5f4f6;
$pink: #f35361;
$light-pink: #ffadc7;
$gray: #e6e6db;
$light-gray: #eeeeee;
$black: #000000;
$red: #ff0000;
$green: #039203;
$valid-green: #34d57f;

.text {
  &-red {
    color: $red;
  }
  &-green {
    color: $green;
  }
  &-main-blue {
    color: $main-blue;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-gray-background {
    color: $gray-background;
  }
  &-pink {
    color: $pink;
  }
  &-light-pink {
    color: $light-pink;
  }
  &-gray {
    color: $gray;
  }
  &-light-gray {
    color: $light-gray;
  }
  &-valid-green {
    color: $valid-green;
  }
}
