// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Pamo-client-primary: mat-palette($mat-indigo);
$Pamo-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Pamo-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Pamo-client-theme: mat-light-theme(
  $Pamo-client-primary,
  $Pamo-client-accent,
  $Pamo-client-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Pamo-client-theme);

@font-face {
  font-family: "Lobster";
  src: local("Lobster"),
    url(./assets/fonts/Lobster/Lobster-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NotoSansKR-Bold";
  src: url(./assets/fonts/Noto_Sans_KR/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: "NotoSansKR-Light";
  src: url(./assets/fonts/Noto_Sans_KR/NotoSansKR-Light.otf) format("opentype");
}

/* You can add global styles to this file, and also import other style files */
html {
  width: 100%;
  height: 100%;
}

body * {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-family: "NotoSansKR-Bold";
  line-height: normal;
  letter-spacing: normal;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "NotoSansKR-Bold";
}

button {
  cursor: pointer !important;
}

button:disabled,
button[disabled] {
  background-color: #ccc !important;
  cursor: unset !important;
}

.login-form-style,
.register-success-dialog-style {
  width: 80% !important;
  max-width: 350px !important;
  mat-dialog-container {
    padding: 0 !important;
  }
}

.search-doctor-modal {
  width: 80% !important;
  max-width: 350px !important;
  height: 400px;
  mat-dialog-container {
    padding: 0 !important;
    border-radius: 15px;
  }
}

.register-success-dialog-style {
  mat-dialog-container {
    border-radius: 10px;
  }
}

.login-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.register-success-dialog-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1.25px);
}
