@import "src/styles-variables.scss";

.appointment-item {
  padding: 5px;
  border-radius: 7px;
  border-left: solid 5px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-top: solid 1px;
  margin-bottom: 15px;
  &.confirmed {
    border-color: $valid-green;
    background-color: rgba(52, 213, 127, 0.05);
    .app-status {
      background-color: $valid-green;
    }
  }
  &.pending {
    border-color: $main-blue;
    background-color: rgba(71, 175, 255, 0.05);
    .app-status {
      background-color: $main-blue;
    }
  }
  &.canceled {
    border-color: $darkGray;
    background-color: rgba(230, 230, 219, 0.15);
    .app-status {
      background-color: $darkGray;
      // font-family: "NotoSansKR-Light";
    }
  }
  &.postponed {
    border-color: orange !important;
    background-color: rgba(255, 165, 0, 0.05) !important;
    .app-status {
      background-color: orange !important;
    }
  }
  .app-object {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .app-type {
      font-size: 10px;
      font-family: "NotoSansKR-Light";
    }
    .app-status {
      padding: 1px 5px;
      font-size: 9px;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }
  }
  .app-patient {
    font-size: 12px;
    margin-top: 5px;
  }
  .app-symptoms {
    font-size: 10px;
    font-family: "NotoSansKR-Light";
    min-height: 30px;
    // limit lines numbers;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
}
