@import "src/styles-variables.scss";

.set-rdv-date-modal {
  padding: 15px 20px;
  .title {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    .date-picker {
      width: 260px;
    }
    .text-area {
      width: 100%;
      max-width: 350px;
      .mat-input-element {
        font-family: "NotoSansKR-Light";
        font-size: 14px;
      }
      textarea {
        resize: none;
      }
    }
    .btn-block {
      .btn {
        width: 170px;
        height: 43px;
        border-radius: 25px;
        font-size: 14px;
        margin-right: 15px;
        &-confirm {
          background-color: $main-blue;
          border: none;
        }
        &-cancel {
          background-color: $white;
          border: solid 2px $red;
        }
      }
    }
  }
}
