<div class="registration-success-popup">
    <div class="img-container">
        <img src="/assets/images/green_checkbox.svg" alt="">
    </div>
    <div class="congratulations">
        <span class="congrat">Félicitations{{'  '}}</span>
        <span class="user">{{nom}},</span>
    </div>
    <div class="description">
        Vous venez tout juste de créer votre compte. Vous pouvez vous connecter dès maintenant et commencer à utiliser la plateforme
    </div>
    <div class="btn-container">
        <button [disabled]="signingIn" (click)="login()">
            Me connecter
            <mat-spinner mode="indeterminate" [diameter]="18" *ngIf="signingIn"></mat-spinner>
        </button>
        <div class="accueil">
            <span (click)="goHome()">Retour à l'accueil</span>
        </div>
    </div>
</div>