.registration-success-popup {
  padding: 30px 20px;
  .img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img {
      width: 85px;
      height: 85px;
    }
  }
  .congratulations {
    padding: 0 10% 15px;
    text-align: center;
    .congrat {
      font-family: "NotoSansKR-Light";
      font-size: 16px;
    }
    .user {
      font-family: "NotoSansKR-Bold";
      font-size: 16px;
    }
  }
  .description {
    font-family: "NotoSansKR-Light";
    font-size: 12px;
    padding: 0 0 20px;
  }
  .btn-container {
    width: 100%;
    text-align: center;
    button {
      height: 40px;
      line-height: 1;
      min-width: 120px;
      padding: 0 30px;
      color: white;
      background-color: #47afff;
      border: none;
      border-radius: 10px;
      position: relative;
      mat-spinner {
        position: absolute;
        top: 11px;
        right: 10px;
      }
      .mat-spinner::ng-deep circle {
        stroke: white;
      }
    }
    .accueil {
      margin-top: 10px;
      span {
        font-size: 12px;
        color: #ffb41f;
        cursor: pointer;
      }
    }
  }
}
